{% extends 'base.html.twig' %}

{% block title %}Edit Secretarias{% endblock %}

{% block body %}
    <h1>Edit Secretarias</h1>

    {{ include('secretarias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('secretarias_index') }}">back to list</a>

    {{ include('secretarias/_delete_form.html.twig') }}
{% endblock %}
