{% extends 'base.html.twig' %}

{% block title %}Listagem das Secretarias{% endblock %}

{% block body %}

    <h1>Listagem das Secretarias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome da secretaria</th>
                <th>ações</th>
            </tr>
        </thead>
        <tbody>
        {% for secretaria in secretarias %}
            <tr>
                <td>{{ secretaria.nome }}</td>
                <td>
                    <a href="{{ path('secretarias_show', {'id': secretaria.id}) }}">mostrar</a>
                    <a href="{{ path('secretarias_edit', {'id': secretaria.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('secretarias_new') }}">Criar secretaria nova</a>
{% endblock %}
