{% extends 'base.html.twig' %}

{% block title %}Edit Salarios{% endblock %}

{% block body %}
    <h1>Edit Salarios</h1>

    {{ include('salarios/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('salarios_index') }}">back to list</a>

    {{ include('salarios/_delete_form.html.twig') }}
{% endblock %}
