<form method="post" action="{{ path('funcionarios_delete', {'id': funcionario.id}) }}" onsubmit="return confirm('Você deseja mesmo deletar esse item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ funcionario.id) }}">
    <button class="btn">Excluir</button>
</form>
